html,
body {
	background: #fafafa;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	font-family: arial;
	font-size: 16px;
	color: #696969;
}
a {
	text-decoration: underline;
}
a:hover {
	text-decoration: none;
}

.container {
	max-width: 1100px;
	margin: 0 auto;
}
.container:after {
	content: '';
	display: table;
	clear: both;
}
.content ul {
	list-style: none;
}



/*менюшка*/
.open_menu-date {
	margin: 200px 0 0 900px;
	height: 340px;
	width: 230px;
	border-radius: 5px;
	border: 1px solid #D3D3D3;
	background: #F5F5F5;
}
.open_menu-date ul {
	padding: 0;
}
.open_menu-date li {
	padding: 10px 0 0 5px;
}
.task_menu-date {
	height: 165px;
	border-bottom: 1px solid #D3D3D3;
	width: 98%;
	margin: 0 auto;
}

/* середника менюшки */
.task_menu-imp {
	height: 85px;
	width: 98%;
	border-bottom: 1px solid #D3D3D3;
	margin: 0 auto;
}
.task_menu-imp li {
	padding: 10px 0 0 7px;
}
/* концовка менюшки*/
.task_menu-calendar {
	margin: 0;
}
