// -------------------------------------------------------
// Variables
// -------------------------------------------------------
// ----------------------------------------------
// Base Color
// ----------------------------------------------
$dark-primary-color: #388e3c;
$primary-color: #4caf50;
$light-primary-color: #c8e6c9;
$text-and-icon-color: #fff;
$accent-color: #00dcd4;
$primary-text-color: #212121;
$secondary-text-color: #757575;
$divider-color: #bdbdbd;
$no-icon-color: #d2d2d2;

$light-divider-color: #e0e0e0;

// border  #d9d9d9

// ----------------------------------------------
// Fonts
// ----------------------------------------------
$font-base: Roboto, Arial, Verdana, Helvetica, sans-serif;

$fsz-def: 1.3rem;
$line-height-def: normal;
$ff-def: $font-base;

// ----------------------------------------------
// Border-radius
// ----------------------------------------------
$border-radius-min: 0;
$border-radius    : 0;
$border-radius-big: 0;

// -------------------------------------------------------
// End Variables
// -------------------------------------------------------