@import '~react-toolbox/lib/commons.scss';

//noinspection CssInvalidPseudoSelector
:global {
    html,
    body,
    #root {
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #fafafa;
        color: $primary-text-color;
        font-size: $fsz-def;
        font-family: $ff-def;
        line-height: $line-height-def;

        -webkit-font-smoothing: antialiased;
        -webkit-text-size-adjust: 100%;
        text-rendering: optimizeLegibility;
        font-smoothing: antialiased;
        text-size-adjust: 100%;
    }

    html {
        font-size: 10px;
        * {
            user-select: none;
        }
    }

    body {
        font-size: 1.2rem;
    }

    a {
        text-decoration: underline;
        color: #03A9F4;
        &:hover {
            text-decoration: none
        }
    }

    button,
    input,
    optgroup,
    select,
    textarea {
        font: inherit;
        margin: 0
    }

    // --------------------------------------------------
    // Material Design Icons
    // --------------------------------------------------
    .material-icons {
        text-rendering: optimizeLegibility;
        font-feature-settings: 'liga';
        vertical-align: middle
    }
    // --------------------------------------------------
}