/*Global*/
/******************************/
html,
body {
	background: #fafafa;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	font-family: arial;
	font-size: 15px;
}
a {
	text-decoration: underline;
}
a:hover {
	text-decoration: none;
}

.container {
	max-width: 1100px;
	margin: 0 auto;
}
.container:after {
	content: '';
	display: table;
	clear: both;
}
.content ul {
	list-style: none;
}
/* Header
*****************************/
.header {
	width: 100%;
	background: #E44332;
	padding: 10px 0;
	box-sizing: border-box;
}


.header__container:after {
	content: '';
	display: table;
	clear: both;
}

.header__logo {
	margin-top: 2px;
	float: left;
	padding-bottom: 0px;
	cursor: pointer;
}
.header__logo img {
	vertical-align: middle;
}
.header__search {
	float: left;
	margin: 8px 0 0 280px;
}
.header__search > input{
	font-size: 12px;
	background: #E44332;
	color: white;
	border: none;
	vertical-align: top;
}
.header__search > input:after{
	font-size: 13px;
	background: white;
	border: solid 1px #888;
}
.header__search > img{
	vertical-align: top;
}
.header__nav {
	float: right;
	margin-top: 8px;
}
.header__nav ul {
	cursor: pointer;
	margin: 0;
	padding: 0;
	list-style-type: none;	
}
.header__nav ul:after {
	content: '';
	display: table;
	clear: both;
}
.header__nav li {
	float: left;
	padding-left: 15px;
}
.header__nav li:hover {
	color: #477;
}
.h-nav--text {
	display: inline-block;
	vertical-align: top;
	font-size: 13px;
}
/* Header End
*****************************/

.sidebar {
	float: left;
	width: 250px;
}
.content {
	float: right;
	width: calc(100% - 250px);
}


/* Main
*****************************/
/* Сайт Бар */
.widget{
	margin: 0  233px auto;
	width: 335px;
	height: 700px;
	background: #fafafa;
	padding: 10px 0;
	box-sizing: border-box;
}

/* Виджет Меню */
.widget_date {

}

/* Список */
.widget_date_list {
	padding: 10px 0;
	margin: 0;
}
.widget_date_list__item {
	list-style-type: none;
	margin: 0;
	padding: 5px;
	vertical-align: top;
	cursor: pointer;
}
.widget_date_list__item:last-child {
	border: none;
}
.widget_date_list__item:hover {
	color: #959;
}


/* Component */
.component {
	vertical-align: middle;
}
.component__image {
	display: inline-block;
	vertical-align: middle;
}
.component__image img {
	vertical-align: top;
}

.component__title {
/*	width: 200px;
	border-bottom: 1px solid black;*/
	display: inline-block;
	vertical-align: middle;
}

/* modification */
.component--color-green {

}
/* END Widget date */

/* Widget Mark*/
.widget_mark {
	width: 150px;
	margin-left: 30px;
	font-size: 0;
}
.widget_mark ul {
	padding: 0;
	margin: 0;
	text-align: center;
}
.widget_mark ul:after {
	content: "";
	clear: both;
	display: table;
}
.widget_mark li {
	cursor: pointer;
	font-size: 15px;
	display: inline-block;
	padding:5px 0 0 5px;
	list-style-type: none;	
	border-bottom: solid 1px #A9A9A9;
	color: #A9A9A9;
}
.widget_mark li:first-child {
	margin-left: 0px;
}
.widget_mark li:hover{
	color: #278;
	border-bottom: solid 1px #278;
}
/* END widget mark */
.i-circle{
	height: 14px;
	width: 14px;
	border-radius: 100%;
	background: #ccc;
}
.i-circle--color-green {
	background: green;
}
.i-circle--color-yellow {
	background: yellow;
}
.i-circle--color-blue {
	background: blue;
}
.i-circle--color-orange {
	background: orange;
}
.i-circle--color-pink {
	background: rgb(226, 168, 228);
}

/* component-menu */

.c-menu {

}

/* component-menu list */
.c-menu_list {
	list-style: none;
	padding: 5px;
}

.c-menu_list__item {
	cursor: pointer;
	margin-top: 10px;
}
.c-menu_list__item:hover {
	color: #959;
}

.c-menu_list__item:first-child{
	margin-top: 0;
}

/* component-menu Item */
.c-menu_item {

}
.c-menu_item__image {
	display: inline-block;
	margin-right: 10px;
}
.c-menu_item__title{
	display: inline-block;
}

/* END component-menu */
/* News Новости */

.c-news_menu { 
	float: left;
}
.c-news_menu__image {
	display: inline-block;
	vertical-align: middle;
}
.c-news_menu__image img {
	
	vertical-align: middle;
}
.c-news_menu__title {
	display: inline-block;	
	vertical-align: middle;
}
.c-menu_item__title--archive {
	color: #A9A9A9;
	margin-top: 20px;
	font-size: 13px;
	cursor: pointer;
}

/* Настройки  Новостей*/

.c-news_menu__options {
	float: right;
	margin: 25px 20px 0 0;
	width: 100px;
	height: 100px;
	background: red;
}
.c-news_menu__options li {
	float: left;
	list-style: none;
	padding-right: 25px;
}

/* Конец Новости*/
/* Виджеты Новостей*/

.head_news {
	margin-top: 8px;
}
.head_news_option {
	float: right;
	display: inline-block;
	margin-top: 10px;
	margin-right: 7px;
}
.h-news_option {
	margin-right: 30px;
}

.head_news-title {
	display: inline-block;
}
.head_news_option_message {

}

/*  Конец Шапки новостей*/

/* Начало тестов ,,новостей,, */

.test_group {
	padding: 0;	
	list-style: none;
}
.test_group  li {
	margin-top: 10px;
}
.test_group img {
	vertical-align: middle;
}
.с-title_list {
	font-size: 20px;
	border-bottom: 1px solid #D3D3D3;
	width: 755px;
}
.с-title_list:hover {
	border-bottom: 1px solid #696969;
}
.с-title_list-width {
	width: 715px;
}
.с-title_list-width--child {
	width: 694px;
}
.test_group__main {

}
.c-image--list img {
}

.c-aver-m-l {
	margin-left: -10px;
}
.test_group__child {
	margin-left: -18px;
}

/* ПОле с добавлением задачи */
.c-option_item {
	float: left;
	/*display: inline-block;*/
	color: red;
}
.c-option_item:hover {
	color: black;
}
.c-menu_item--img img {
	vertical-align: middle;
}
.
.c-option_item img {
	vertical-align: middle;
}
.с-opt_item,
.c-option_item__image {
	display: inline-block;
}
.с-opt_item {
	vertical-align: middle;
}
.c-option_item__image img {
	vertical-align: middle;
}

.c-option_item--ref {
	float: right;
}
.c-option_item-whidh {
	width: 802px;
}
/* всплывающие меню*/
.open-menu {
	display: none;
	position: absolute;
	margin: 0;
	height: 359px;
	width: 230px;
	border-radius: 5px;
	border: 1px solid #D3D3D3;
	background: #F5F5F5;
}
/*  Задания */
.open-menu ul:first-child {
	border-bottom: 1px solid #D3D3D3;
	width: 98%;
	margin: 0 auto;
}
.task_menu {
	padding: 0;
	width: 100%;
	height: 90	px;
	/*background: red;*/	
	margin: 0;
}
.task_menu li {
	padding: 6px 0 5px 0px;
	font-size: 15px;
	margin: 0 auto;
	/*width: 90%;*/
}
/*.task_menu li:first-child {
	margin-top: 5px;
}*/
.task_menu li:last-child {
	padding-bottom: 7px;
	/*border-bottom: 1px solid;*/
}
.task_menu-add {
	width: 98%;
	cursor: pointer;
}
/* Приоритет */
.priority_menu {
	padding: 0;
	margin: 0 auto;
	width: 98%;
	height: 130px;
	border-bottom: 1px solid #D3D3D3;
}
.priority_menu ul {
	margin: 0;
	padding: 0;
}
.priority_menu li {
	display: inline-block;
	padding: 10px 0px 10px 14px;
	margin: 0;
	cursor: pointer;
}
.title_menu-margin {
	margin: 4px 0 0 10px;
}
.title_menu_prio {
	margin-top: 0;
}
.priority_menu_prio {
	/*border-bottom: 1px solid;*/
}
.priority_menu_prio li {  
	/*margin-left: 5px;*/
	padding-left: 23px;
}
/* Список возможностей*/
.task_menu-fun {
	margin: 0 auto;
	width: 98%;
	height: 142px;
	/*background: gray;	*/
}
.task_menu-fun li {
	cursor: pointer;
	padding: 5px 5px 0 3px;
	margin: 0;
}
.task_menu-fun li:first-child {
	padding: 5px 0 5px 3px;
	border-bottom: 1px solid #D3D3D3;
}
.task_menu-fun li:last-child {
	border-top: 1px solid #D3D3D3;
	padding-top: 4px;
}
/* добавление задачи нижний футер*/
.addition_task {
	width: 778px;
	height: 66px;
	background: red;
}
.addition_task-widget {
	display: inline-block;
	width: 100%;
}
.addition_task-widget li,
.addition_task-widget ul {
	display: inline-block;
	margin: 0;
	padding: 0;
}
.addition_task-widget ul {
	float: right;
	padding: 8px 5px 8px 0px;
}
.addition_task-widget li {
	padding-right: 15px;
}
.addition_task-widget li:last-child {
	padding-right: 0px;
}
.input_task-name{
	width: 669px;
	height: 30px;
	margin: 0;
	padding: 0;
	border: 1px solid #D3D3D3;
	border-right: 0;
}
.input_task-submit {
	margin: 0;
	padding: 0;
	border: 1px solid #D3D3D3;
	width: 108px;
	height: 32px;
}
.input_task-widget {
	width: 130px;
	height: 30px;
	padding-left: 0;
	margin: 2px 0 0 0;
	border: 1px solid #D3D3D3;
	border-radius: 5px;
}
.input_task-cancel {
	margin-left: 2px;
	width: 90px;
	height: 30px;
	border: 0;
	border-radius: 10px;
}
/* конец добавление задачи нижний футер*/





/* Hover menu*/
.open_widget-menu-hover {
	display: none;
	cursor: pointer;
	margin: 7px 10px 0 0;
	width: 20px;
	height: 10px;
	background: blue;
	float: right;
}
.open_widget-hover:hover .open_widget-menu-hover{
	display: block;
}
/* меню список*/
.open_widget-menu-hover:hover .open-menu {
	display: block;
}
/*Hover menu
